
  <ul role="list" class="list  my-2 divide-y divide-gray-200 dark:divide-gray-700">
      <li *ngIf="coin.image.large" routerLink='/detail-coin/{{coin.id}}' routerLinkActive="router-link-active"  class="shadow px-3 py-3 rounded-md sm:py-4 ">
          <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                  <img class="w-10 h-10 rounded-md" src={{coin.image.large}} alt="image">
              </div>
              <div class="flex-1 min-w-0">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                     {{coin.name}}
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{coin.symbol}}
                  </p>
              </div>
          </div>
      </li>
  </ul>
